<style>
#fundInfoDialog {
  overflow: scroll;
  width: calc(100%-64px);
}
.fundInfoDialog {
  width: 90%;
  height: 90%;
}
#map {
  width: 100%;
  height: 100px;
}

.colorfulEthanFund {
  background-color: #00e676;
}

.dialogicon {
  width: 50px;
  float: right;
}

.tableProject {
/*
  border-width: 5px;
  border-color: #FF6D00;
*/
  border: 1px solid #ffccbc;
  margin: 0px;
  padding: 8px;
}
.dialogDesc {

}

</style>
<dialog class="mdl-dialog fundInfoDialog" id='fundInfoDialog'>
    <div class="mdl-dialog__content" id=''>
      <div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
    <img id="dialogAvatar"style="border-radius: 100%" class="mdl-list__item-avatar" width="64" height="64">
    <span id='dialogProjectName'></span>
    <span class="mdl-list__item-text-body" id='dialogAddress'></span>
    <span class="mdl-chip mdl-chip--deletable" id='status-chip'><span class="mdl-chip__text" id='status-chip-txt'></span></span></span>
    <br><p id='dialogDescTxt'></p>
    <span class="mdl-list__item-secondary-content">
      <label class="mdl-icon-toggle mdl-js-icon-toggle mdl-js-ripple-effect mdl-list__item-secondary-action" for="dialogStar">
  <!--<input type="checkbox" id="dialogStar" class="mdl-icon-toggle__input" checked>
  <i class="mdl-icon-toggle__label material-icons">star</i>
</label>-->
    </span>
  </div>
  <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
<div class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
  </div>
  <div class="mdl-cell mdl-cell--5-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
    <div class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
  </div>
    <div class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--12-col-phone tableProject">
      <!-- Potential CO2 Avoidence or [daily CO2 and lifetime CO2] -->
    <img src='/images/co2.svg' class='dialogicon'></img>
    <span class='dialogDesc' id='co2txtbox1desc'>Annual Total CO2 Offset</span>
    <h4>
    <span id='amountmyCO2'>16,820 </span> <small>kg</small>
  </h4>
    </div>
    <div class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--12-col-phone tableProject">
      <!-- Potential CO2 Avoidence or [daily CO2 and lifetime CO2] -->
    <span class='dialogDesc' id='energytxtbox2desc'></span>
    <!-- Accent-colored raised button with ripple -->
    <div class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      View
    </button>
    </div>
    <div class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--12-col-phone tableProject">
      <img src='/images/weather-sunny.svg' class='dialogicon'></img>
      <h4><span id='amountShareTxt'>18</span>° | Sunny</h4>
      <h6>Tomorrow: <span id='amountShareTxt'>19</span>° | Sunny</h6>
    </div>
    <div class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--12-col-phone tableProject">
      <div id="map"></div>
  </div>
  <!--the new stuff on the new row -->
  <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
<center><h4>My Contribution</h4></center><br>
</div>
  <div class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--12-col-phone tableProject">
<img src='/images/chart-arc.svg' class='dialogicon'></img>
<span class='dialogDesc'>My share</span>
<h4><span id='amountShareTxt'>27.9</span>%</h4>
  </div>
  <div class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--12-col-phone tableProject">
    <img src='/images/wallet.svg' class='dialogicon'></img>
<span class='dialogDesc'>Initial Invested</span>
<h4>
<span id='amountmyInvestment'>50</span> <small>SOLA</small>
</h4>
  </div>
  <div class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--12-col-phone tableProject">
    <img src='/images/coin.svg' class='dialogicon'></img>
    <span class='dialogDesc'>Reinburstment</span>
    <h4>
<span id='amountmyEarnings'>0</span> <small>SOLA</small>
</h4>
  </div>
  <div class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--12-col-phone tableProject">
    <img src='/images/co2.svg' class='dialogicon'></img>
    <span class='dialogDesc' id='co2txtbox1desc'></span>
    <h4>
    <span id='amountmyCO2'>0</span> <small>kg</small>
  </h4>
  </div>
</div>
      <div>
</ul>
            <br>
            </div>
    </div>
<div id='ethansStupidButtons'></div>
  </dialog>
