<html>
<head></head>
<body>

  <%- include('menu.ejs') %>
<!-- Your content goes here -->
<!-- Content end -->
</div>
  </main>
</div>
</body>
</html>

<!--  <%- include('user/show', {user: user}) %> -->
